.no-item{
    background-color:#EEE9EE;
    width: 65%;
    margin: auto;
    margin-top: 70px;
    height: 150px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: -5px 8px 7px #ddd;
    transform: rotate(15deg);
}
.sad{
    font-size: 40px
}