<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Doa detals </ion-title>

        <ion-buttons slot="end" routerLink="/doaadd">
            <ion-icon name="add"></ion-icon> Add
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3>اَللّٰهُمَّ إِنِّي أَسْأَلُكَ بِحَقِّ هٰذِهِ الطِّينَةِ وَ بِحَقِّ الْمَلَكِ الَّذِيْ أَخَذَهَا وَ بِحَقِّ النَّبِيِّ الَّذِيْ قَبَضَهَا وَ بِحَقِّ الْوَصِيِّ الَّذِيْ حَلَّ فِيْهَا صَلِّ عَلٰى مُحَمَّدٍ وَ أَهْلِ بَيْتِهٖ وَ اجْعَلْ فِيْهَا شِفَآءً
        مِنْ كُلِّ دَآءٍ وَ أَمَاناً مِنْ كُلِّ خَوْفٍ</h3>

    <p><strong>Transliteration: </strong>ALLAAHUMMA INNEE AS-ALOKA BE-HAQQE HAAZEHIT TEENATE WA BE-HAQQIL MALAKIL LAZEE AKHAZAHAA WA BE-HAQQIN NABIYYIL LAZEE QABAZAHAA WA BE-HAQQIL WASIYYIL LAZEE HALLA FEEHAA SALLE A’LAA MOHAMMADIN WA AHLE BAYTEHI WAJ-A’L
        FEEHAA SHEFAAA-AN MIN KULLE DAAA-IN WA AMAANAN MIN KULLE KHAWFIN.</p>

    <p><strong>Translation:</strong> O Allah I bind Thee by thee by this clay and of that angel who had picked up this clay and of the Prophet through whom this clay was sent and of that vicegerent who lies buried under this clay and ask Thee to shower Thy
        blessing on Mohammad (s.a.w.a.) and Ahle Bait (a.s.) and make this clay a cure for all my diseases and a guardian against all fears.</p>

    <br/>
    <ion-button routerLink="/doaedit" color="primary">Edit</ion-button>
</ion-content>