<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Hijri Calender
        </ion-title>
        <ion-buttons slot="end" (click)="addEvent()">
            <ion-icon name="add"></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30" class="calendar">
    </calendar>
</ion-content>