<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="notification/{{ mosque_id }}" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Notice </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="OnDelete()">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="dataAvailable && !isloading">
    <h3>{{ title }}</h3>
    <p>{{ notice }}</p>
    <br/>
    <!-- <ion-button routerLink="/editnotification/{{ id }}?notice_flag={{ notice_flag }}" color="primary">Edit</ion-button> -->
    <ion-button routerLink="/editnotification/{{ id }}" [queryParams]="{mosque_id:mosque_id }">Edit</ion-button>
</ion-content>
<ion-content *ngIf="!dataAvailable && !isloading">
    <h3 style="margin-top:20px;text-align:center">No notice</h3>
</ion-content>