<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Salat ul Tahajjud</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p text-right>نَوَايْتُ اَنْ اُصَلِّىَ لِلَّّهِ تَعَالَى رَكْعَتَىْ صَلَوةِ التَّهَجُّدِ سُنَّةُ رَسُوْلِ اللَّهِ تَعَالَى مُتَوَجِّهًا اِلَى جِهَةِ الْكَعْبَةِ الشَّرِيْفَةِ اَللَّهُ اَكْبَرُ</p>
    <p>
        <strong> Pronunciation:</strong> “Nawayatu Aan Usallia Lillahi Taalaa Rakatai Salaateet Tahajjudee Sunnatu Rasullahi Taala Mutaouuazzihan Ila Zihatil Ka’batish Sharifati, Allahuu Akbar”
    </p>
    <p><strong> Translation:</strong> (I Headed for ALLAH Intent to Pray Tahajjud’s 2 Rakat Rasul ALLAH Taala’s Sunnat Prayer Facing towards Kabah, ALLAH is Most Great)</p>
</ion-content>