<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Doa</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item routerLink="/doadetails">
            <ion-label>When In Anger</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>Before And After Meal</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>When finished with eating</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>Dua before entering the mosque</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>After prayer when a person exits Masjid</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>When Sneezing</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>Entering And Leaving Home</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>When Feeling Stressed</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>While Traveling</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>While Building New House</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>While Leaving House For Special Work/Object/Purpose</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>
                While salvation of worldly and spiritual tasks at the time of leaving house
            </ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>At the time of wearing Jewels</ion-label>
        </ion-item>
        <ion-item routerLink="/doadetails">
            <ion-label>Whenever one sits in gathering</ion-label>
        </ion-item>
    </ion-list>
</ion-content>