<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Prayer</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item routerLink="/prayerdetails">
            <ion-label>Tahiyatul Wudu Salah</ion-label>
        </ion-item>
        <ion-item routerLink="/prayerdetails">
            <ion-label>Ishraak Salah</ion-label>
        </ion-item>
        <ion-item routerLink="/prayerdetails">
            <ion-label>Salat ul Taubah</ion-label>
        </ion-item>
        <ion-item routerLink="/prayerdetails">
            <ion-label>Salat ul Istikhara</ion-label>
        </ion-item>
        <ion-item routerLink="/prayerdetails">
            <ion-label>Salat ul Tasbih</ion-label>
        </ion-item>
        <ion-item routerLink="/prayerdetails">
            <ion-label>Salat ul Hajat</ion-label>
        </ion-item>
        <ion-item routerLink="/prayerdetails">
            <ion-label>Salat ul Tahajjud</ion-label>
        </ion-item>
        <ion-item routerLink="/prayerdetails">
            <ion-label>Chasht Prayer</ion-label>
        </ion-item>
        <ion-item routerLink="/prayerdetails">
            <ion-label>Tahiyatul Wudu</ion-label>
        </ion-item>
    </ion-list>

</ion-content>