ion-content {
    --background: url(../../assets/homebanner.jpg) 0 0/100% 100% no-repeat;
    color: #fff;
    ion-toolbar {
        --background: transparent;
    }
    .logo {
        padding: 20% 0;
        text-align: center;
    }
    .social_button {
        position: absolute;
        bottom: 20px;
        left: 5%;
        width: 90%;
        h3 {
            color: #fff;
        }
        ion-item {
            --background: transparent;
            --color: #fff;
        }
        p {
            color: #828282;
        }
    }
}

.err{
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(219, 60, 60);
}