<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Dua after Asr Prayer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <p>بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ. سُبْحَانَ اللَّهِ وَ الْحَمْدُ لِلَّهِ وَ لَا إِلٰهَ إِلَّا اللَّهُ وَ اللَّهُ أَكْبَرُ وَ لَا حَوْلَ وَ لَا قُوَّةَ إِلَّا بِاللَّهِ الْعَلِيِّ الْعَظِيْمِ سُبْحَانَ اللَّهِ بِالْغُدُوِّ وَ الْآصَالِ سُبْحَانَ
        اللَّهِ بِالْعَشِيِّ وَ الْإِبْكـَارِ فَسُبْحانَ اللَّهِ حِينَ تُمْسُوْنَ وَ حِيْنَ تُصْبِحُونَ وَ لَهُ الْحَمْدُ فِي السَّمٰوَاتِ وَ الْأَرْضِ وَ عَشِيًّا وَ حِيْنَ تُظْهِرُوْنَ سُبْحَانَ رَبِّكَ رَبِّ الْعِزَّةِ عَمَّا يَصِفُوْنَ وَ سَلَامٌ
        عَلَى الْمُرْسَلِيْنَ وَ الْحَمْدُ لِلَّهِ رَبِّ الْعالَمِينَ سُبْحَانَ ذِي الْمُلْكِ وَ الْمَلَكُوْتِ سُبْحَانَ ذِي الْعِزِّ وَ الْجَبَرُوْتِ سُبْحَانَ الْحَيِّ الَّذِيْ لَا يَمُوْتُ سُبْحَانَ الْقَائِـمِ الدَّائِـمِ سُبْحَانَ اللَّهِ الْحَيِّ
        الْقَيُّوْمِ سُبْحَانَ الْعَلِيِّ الْأَعْلَى سُبْحَانَهٗ وَ تَعَالٰى سُبُّوْحٌ قُدُّوْسٌ رَبُّ الْمَلَآئِكَةِ وَ الرُّوْحِ اَللّٰهُمَّ إِنَّ ذَنْبِيْ أَمْسٰى مُسْتَجِيْراً بِعَفْوِكَ وَ خَوْفِي أَمْسٰى مُسْتَجِيْراً بِأَمْنِكَ وَ فَقْرِيْ أَمْسٰى
        مُسْتَجِيْراً بِغِنَاكَ وَ ذُلِّيْ أَمْسٰى مُسْتَجِيْراً بِعِزِّكَ اَللّٰهُمَّ صَلِّ عَلٰى مُحَمَّدٍ وَ آلِ مُحَمَّدٍ وَ اغْفِرْ لِي وَ ارْحَمْنِيْ إِنَّكَ حَمِيْدٌ مَجِيْدٌ اَللّٰهُمَّ تَمَّ نُوْرُكَ فَهَدَيْتَ فَلَكَ الْحَمْدُ وَ عَظُمَ حِلْمُكَ
        فَعَفَوْتَ فَلَكَ الْحَمْدُ وَجْهُكَ رَبَّنَا أَكْرَمُ الْوُجُوْهِ وَ جَاهُكَ أَعْظَمُ الْجَاهِ وَ عَطِيَّتُكَ أَفْضَلُ الْعَطَاءِ تُطَاعُ رَبُّنَا وَ تَشْكُرُ وَ تُعْصٰى فَتَغْفِرُ وَ تُجِيْبُ الْمُضْطَرَّ وَ تَكْشِفُ الضُّرَّ وَ تُنَجِّيْ مِنَ
        الْكَرْبِ وَ تُغْنِي الْفَقِيْرَ وَ تَشْفِي السَّقِيْمَ وَ لَا يُجَازِيْ آلَائَكَ أَحَدٌ وَ أَنْتَ أَرْحَمُ الرَّاحِمِيْنَ. </p>

    <p><strong>Transliteration:</strong> Bismil laahir rahmaanir raheem. Subhaanal laahe wal hamdo lillaahe wa laa elaaha illal laaho wal laaho akbaro wa laa hawla wa laa quwwata illaa billaahil a’liyyil a’zeeme subhaanal laahe bil-ghoduwwe wal aaasaale
        subhaanal laahe bil-a’shiyye wal-ibkaare fa-subhaanal laahe heena tumsoona wa heena tusbehoona wa lahul hamdo fis samaawaate wal arze wa a’shiyyan wa heena tuzheroona subhaana rabbeka rabbil i'zzate a'mmaa yasefoona wa salaamun a'lal mursaleena
        wal-hamdo lillaahe rabbil a'alameena subhaana zil mulke wal malakoote subhaana zil i'zze wal jabaroote subhaanal hayyil lazee laa yamooto subhaanal qaa-emid daa-eme subhaanal laahil hayyil qayyoom subhaanal a'liyyil a-a'laa subhaanahu wa ta-a'alaa
        subboohun quddoosun rabbul malaaa-ekate war-roohe allaahumma inna zambee amsaa mustajeeran be-a'fweka wa khawfee amsaa mustajeeran be-amneka wa faqree amsaa mustajeeran be-ghenaaka wa zulli amsaa mustajeeran be-i'zzeka allaahumma salle a'laa mohammadin
        wa aale mohammadin wagh-fir lee war-hamnee innaka hameedum majeed. allaahumma tamma nooroka fa-hadayta falakal hamdo wa a'zoma hilmoka fa-a'fawta falakal hamdo wajhoka rabbanaa akramul wojoohe wa jaahoka a-a'zamo hilmoka fa-a'fawta falakal hamdo
        waj-hoka rabbanaa akramul wojoohe wa jaahoka a-a'zamul jaahe wa a'tiyyatoka afzalul a'taa-e to-taa-o' rabbonaa wa tashkoro wa to'saa fa-taghfero wa tojeebul muz-tarra wa takshefuz zurra wa tunajjee menal karbe wa tughnil faqeera wa tashfis saqeema
        wa laa yojaazee aaalaa-aka ahadun wa anta arhamur raahemeen.</p>
    <p><strong>Translation:</strong> In the name of Allah the most Beneficent and Merciful. Glory be to Allah: all praise is due to Allah: there is no deity other than Allah: Allah is the Supreme. There is no power and no strength except with Allah, the
        Most Great. Glory be to Allah at the Dusk and the dawns. Glory be to Allah when ye enter evening and when ye enter the morning and all praise is due to Him in the heavens and the earth at the sun’s decline and when ye enter the noon. Hallowed
        is Thy Lord, ‘the Lord of majesty for above from what they ascribe (unto Him); Glory be to the Master of Kingdoms; Glory be to the Master of Majesty and Might: Glory be to the Ever-Living who does not die: Glory be to the Self Subsisting the eternal;
        Glory be to the Most High; Glory Holy is our Lord, and the Lord of the Angles and the spirit. O Allah! this evening I seek thy protection and pardon of my sin: this evening I seek Thy Protection and shelter from my fears this evening I seek Thy
        protection and Opulence for my destitution: this evening I seek Thy protection and Grace from my disgrace: O Allah send Thy blessing on Mohammad (s.a.w.a.) and the (purified) progeny of Mohammad (s.a.w.a.) and forgive me and have mercy on me.
        Indeed Thou art praise worthy, the Most Glorious. O Allah! Thy Light is perfected and thou hast guided so all praise to Thee. O Our Lord. Thy Face is the Most Gracious of all the faces. Thy Eminence is the Greatest of all Thy gift is the Most
        Excellent gift; O Our Lord (if) Thou art obeyed Thou accept: if Thou art disobeyed Thou for giveth: Thou answer to (the call of) the distressed: Thou dispelleth the grief: Thou relieveth from the affliction:Thou enricheth the poor: Thou cureth
        the sick: and none can repay Thy bounties O the Most Merciful.</p>
</ion-content>