// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
ion-menu {
    ion-header {}
    ion-list {
        overflow-y: auto;
        ion-item {
            --padding-start: 0;
            ion-img {
                width: 32px;
                margin-right: 10px;
                padding-left: 10px;
            }
        }
    }
}