<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Doa List </ion-title>

        <ion-buttons slot="end" routerLink="/doaadd">
            <ion-icon name="add"></ion-icon> Add
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item routerLink="/duadetails">Dua No. 1 Dua while using Khaak-e-Shifa</ion-item>
        <ion-item routerLink="/duadetails">Dua No. 2 While Eating Khaak-e-Shifa</ion-item>
        <ion-item routerLink="/duadetails">Dua No. 3 While Building New House</ion-item>
        <ion-item routerLink="/duadetails">Dua No. 4 While Leaving House For Special Work/Object/Purpose</ion-item>
        <ion-item routerLink="/duadetails">Dua No. 5 While salvation of worldly and spiritual tasks at the time of leaving house</ion-item>
        <ion-item routerLink="/duadetails">Dua No. 6 At the time of wearing Jewels</ion-item>
        <ion-item routerLink="/duadetails">Dua No. 7 Whenever one sits in gathering</ion-item>
        <ion-item routerLink="/duadetails">Dua No. 8 While on hill or on great height</ion-item>
        <ion-item routerLink="/duadetails">Dua No. 9 For avoiding bad omens for traveller</ion-item>
        <ion-item routerLink="/duadetails">Dua No. 10: Before starting journey</ion-item>


    </ion-list>
</ion-content>