ion-content {
    --background: url(../../assets/m7.jpg) 0 0/100% 100% no-repeat !important;
    --color: #fff;
    .ss_img {
        background: rgba(255, 255, 255, .5);
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 30px auto;
        padding: 10px;
    }
    h4 {
        padding-top: 30%;
    }
}