<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Shahadah</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <div class="ss_img">
                    <img src="assets/shahada.png" />
                </div>

                <h4> Ashadu an la ilaha illa illa-ilah, wa ashadu anna muhammadan rasul ullah.</h4>
                <p>Th meaning is: "I testify that there is no god but God (Allah), and I testify that Muhammad is the messenger of God (Allah). </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>